@use "./variables.scss" as *;
@use "./base.scss";

:root {
  --accent-red: #cc4b4b;
  --accent-orange: #d97c2b;
  --accent-yellow: #bba91c;
  --accent-green: #5d8d5d;
  --accent-blue: #3a6ea5;
  --accent-purple: #7b5ea7;
}

//Home
.about-text {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;

  img {
    max-width: 180px;
    height: auto;
    flex-shrink: 0;
    border-radius: 8px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    img {
      max-width: 100%;
    }
  }
}

// Page Title
.page-title{
  font-size: 1.5rem;
  line-height: 0; 
}

.page-title a {
  position: relative;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  text-decoration: none;
}

.page-title a .logo {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url('/static/icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 0.4em;
}

@media #{$mobile} {
  .page-title a .title-text {
    display: none;
  }
}

// .page-title {
//   position: relative;

//   &::before {
//     content: "";
//     display: inline-block;
//     width: 32px;
//     height: 32px;
//     background-image: url('/static/icon.png');
//     background-size: contain;
//     background-repeat: no-repeat;
//     margin-right: 0.4em;
//     vertical-align: middle;
//   }

//   @media (max-width: map-get($breakpoints, mobile)) {
//     a {
//       position: absolute;
//       width: 1px;
//       height: 1px;
//       padding: 0;
//       overflow: hidden;
//       clip: rect(0, 0, 0, 0);
//       white-space: nowrap;
//       border: 0;
//     }

//     &::before {
//       margin-right: 0.5rem; 
//     }
//   }
// }

//Breadcrumb
.breadcrumb-container {
    margin-bottom: 1rem;
    
   @media (min-width: map-get($breakpoints, desktop)) {
      margin-top: 1.5rem;
   }

}


// Footer

footer {
  margin-bottom: 2rem;
}

//Sidebar Explorer
.sidebar a.folder-title {
  font-weight: bold;
  font-size: 0.9rem;
  color: var(--accent-green);
}

.sidebar .explorer a:not(.folder-title) {
  font-weight: normal;
  font-size: 0.9rem;  
}

.sidebar .explorer ul.content li {
  line-height: 1.2rem;
}


.explorer-content ul.content li > a {
  position: relative;
  display: block;
  padding-left: 0.7rem;
  text-indent: 0;
}

.explorer-content ul.content li > a::before {
  content: "- ";
  position: absolute;
  left: 0;
  top: 0;
  color: black;
  font-weight: bold;
  user-select: none;
}

/* Убираем тире у папок */
.folder-container a::before {
  content: none !important;
}

//Sidebar Toc
.sidebar .toc a {
  font-weight: normal;
  font-size: 0.9rem;
}

// Page listing
.page-listing .tag-link {
  color: var(--accent-purple);
  font-size: 0.8rem;
  font-weight: normal;
}

.page-listing .tags
{
  margin: 0.1rem;
}

// Page
.article-title {
  margin-top: 0;
}

.page-header .tag-link {
  color: var(--accent-purple);
  font-size: 0.75rem;
  font-weight: normal;
}

